* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(255, 255, 255);
}

#topnav {
    position: relative;
    align-items: center;
}

.navlinks {
    list-style: none;
    float: none;
    position: absolute;
    flex: 2;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.navlink{
    text-decoration: none;
    font-size: 20px;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(121, 248, 237);
}

nav {
    flex: 1;
    height: 60px;
    background-color: rgb(255, 0, 76);
    box-shadow: 5px 5px 10px rgb(133, 127, 127);
}

header {
    display: block;
    margin: auto;
    align-items: center;
}

.alignment {
    display: inline-block;
}

.linkdin {
    vertical-align: bottom;
    margin-right: 3%;
    margin-bottom: 2%;   
}

.Logo {
    float: right;
    height: 10vh;
    padding-right: 20px;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

.headpic {
    vertical-align: top;
    height: 20vh;
    margin-right: 3%;
    margin-bottom: 2%;   
}


footer{
    position: fixed;
    left: 0;   
    bottom: 0;  
    width: 100%;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    background-color: rgb(255, 0, 76);
    color: rgb(121, 248, 237);
    box-shadow: 5px 5px 10px rgb(133, 127, 127);
    }

.Quickabout {
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
}
    
h2 {
    text-align: center;
}

#aboutme {
    text-align: center;
}

@media screen and (max-width: 1080px) {
        
}
    